<fieldset class="fieldset-colours">

  <section class="container-design">
    <div class="window-title">
      <a href="http://"> <i class="fa-solid fa-object-ungroup window"></i></a>

      <legend class="design-title">Diseña</legend>
    </div>

    <i class="fa-solid fa-chevron-down arrow"></i>
  </section>


  <section class="colour-section">
    
    <h3 class="colours-title">colores</h3>

    
    <section class="palette-section">
      <form class="form-inputs">
        <input type="radio" class="inputs" />
        <label for="colors"></label>

        <input type="radio" class="inputs"  />
        <label for="colors"></label>

        <input type="radio" class="inputs" />
        <label for="colors"></label>
      </form>

      <section class="palette">
        <ul class="list-1">
          <li class="colour-1a"></li>
          <li class="colour-1b"></li>
          <li class="colour-1c"></li>
        </ul>      

        <ul class="list-3">
          <li class="colour-2a"></li>
          <li class="colour-2b"></li>
          <li cclass="colour-2c"></li>
        </ul>      

      <ul class="list-3">
        <li class="colour-3a"></li>
        <li class="colour-3b"></li>
        <li class="colour-3c"></li>
      </ul>
    </section>
</fieldset>
