<article>
  <div class="container-design">
    <a href="http://"> <i class="fa-solid fa-object-ungroup window"></i></a>

    <h2 class="design-title">Diseña</h2>

    <i class="fa-solid fa-chevron-down arrow"></i>
  </div>

  <div class="colour-section">
    <h3 class="colours-title">colores</h3>

    <input type="radio" id="colours" />
    <label for="colors"></label>

    <ul class="list-colours">
      <li class="square" id="one-a"></li>
      <li class="square" id="one-b"></li>
      <li class="square" id="one-c"></li>
    </ul>
  </div>

  <div class="colour-section">
    <input type="radio" id="colours2" />
    <label for="colors"></label>
    <ul class="list-colours">
      <li class="square" id="two-a"></li>
      <li class="square" id="two-b"></li>
      <li class="square" id="two-c"></li>
    </ul>
  </div>

  <div class="colour-section">
    <input type="radio" id="colours3" />
    <label for="colors"></label>
    <ul class="list-colours">
      <li class="square" id="three-a"></li>
      <li class="square" id="three-b"></li>
      <li class="square" id="three-c"></li>
    </ul>
  </div>
</article>
