<fieldset class="fieldset collapsed js-form-fieldset fill__fieldset">
  <div class="fill__title js-form-title">
    <i class="fa-solid fa-keyboard fill__keyboard"></i>
    <p class="fill__legend">Rellena</p>
    <i class="fieldset__arrow fa-solid fa-chevron-down fill__arrow"></i>
  </div>

  <div class="fieldset__container fill__container">
    <label class="form__label" for="name">Nombre completo</label>
    <input
      class="form__field js__fillIn__name"
      type="text"
      id="name"
      name="name"
      placeholder="Ej: Sally Jill"
    />
    <label class="form__label" for="job">Puesto</label>
    <input
      class="form__field js__fillIn__job"
      type="text"
      id="job"
      name="job"
      placeholder="Ej: Front-end unicorn"
    />

    <label class="form__label form__img" for="img"> Imagen de perfil </label>

    <span class="span__row">
      <label for="file-upload" class="subir">Añadir imagen</label>
      <input type="file" name="" id="file-upload" style="display: none" />

      <div class="form__box"></div>
    </span>

    <label class="form__label" for="email">Email</label>
    <input
      class="form__field"
      type="email"
      id="email"
      name="email"
      placeholder="Ej: sally-hill@gmail.com"
    />
    <label class="form__label" for="“telephone”">Teléfono</label>
    <input
      class="form__field"
      type="“tel”"
      id="“telephone"
      name="telephone"
      placeholder="Ej: 55-555-55"
    />
    <label class="form__label" for="text">Linkedin</label>
    <input
      class="form__field"
      type="text"
      id="linkedin"
      name="linkedin"
      placeholder="Ej: linkedin.con/in/sally.hill"
    />
    <label class="form__label" for="text">Github</label>
    <input
      class="form__field"
      type="text"
      id="github"
      name="github"
      placeholder="Ej: @sally-hill"
    />
  </div>
</fieldset>
