<main>
    <article>
        <img src="./assets/images/tarjetas-molonas.png" alt="" />
    </article>
    <article>
        <h1>Crea tu trajeta de visita</h1>
        <p>Crea mejores contactos propfesionales de forma fácil y cómoda</p>
    </article>
    <article>
        <ul>
            <li>
                <a href="http://"><i class="fa-solid fa-object-ungroup"></i></a>
                <h2>Diseña</h2>
            </li>
            <li>
                <a href="http://"><i class="fa-solid fa-keyboard"></i></a>
                <h2>Rellena</h2>
            </li>
            <li>
                <a href="http://"><i class="fa-solid fa-share-nodes"></i></a>
                <h2>Comparte</h2>
            </li>
        </ul>
    </article>
    <button>Comenzar</button>
</main>