<main>
  <article>
    <!-- <img src="./assets/images/tarjetas-molonas.png" alt="" /> -->
  </article>
  <article class="hero">
    <h1 class="hero__title">Crea tu trajeta de visita</h1>
    <p class="hero__text">
      Crea mejores contactos propfesionales de forma fácil y cómoda
    </p>
  </article>
  <article>
    <nav class="nav">
      <ul class="nav__container">
        <li class="nav__list">
          <a href="http://"><i class="fa-solid fa-object-ungroup"></i></a>
          <h2 class="">Diseña</h2>
        </li>
        <li class="nav__list">
          <a href="http://"><i class="fa-solid fa-keyboard"></i></a>
          <h2>Rellena</h2>
        </li>
        <li class="nav__list">
          <a href="http://"><i class="fa-solid fa-share-nodes"></i></a>
          <h2>Comparte</h2>
        </li>
      </ul>
    </nav>
  </article>
  <button>Comenzar</button>
</main>
