<section>
  <section class="section1">
    <div class="containerdiv">
      <section class="section1__container">
        <i class="fa-solid fa-trash-can section1__container--img"></i>
        <button class="section1__container--button">reset</button>
      </section>
      <section class="section1__containerphoto">
        <section class="section1__containerphoto--article">
          <article class="containercard">
            <div class="containercard__rectangle"></div>
            <div class="containercard__article">
              <h2 class="containercard__article--title">Nombre apellido</h2>
              <p class="containercard__article--text">Front-end developer</p>
            </div>
          </article>
          <img
            class="section1__containerphoto--img"
            src="./assets/images/imagen-chica.png"
            alt="inagen de una chica"
            title="imagen de una chica"
          />
          <ul class="list">
            <li class="list__item">
              <a class="list__item--link" href=""
                ><i class="fa-solid fa-mobile-screen-button"></i
              ></a>
            </li>
            <li class="list__item">
              <a class="list__item--link" href=""
                ><i class="fa-regular fa-envelope"></i
              ></a>
            </li>
            <li class="list__item">
              <a class="list__item--link" href=""
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li class="list__item">
              <a class="list__item--link" href=""
                ><i class="fa-brands fa-github-alt"></i
              ></a>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </section>

  <!--PARTE DE ROSA-->
  <section class="section-colours">
    <form action="">
      <include src="./desings.html"></include>
      <include src="./fill_in.html"></include>
      <include src="./share.html"></include>
    </form>
    <article>
      <h2>La tarjeta ha sido creada:</h2>
      <a href="https://awesome-profile-card.com?id=A456DF0001"></a>
      <div>
        <i class="fa-brands fa-twitter"></i>
        <button>Compartir en twitter</button>
      </div>
    </article>
  </section>
</section>
