<section>
  <section class="preview-section">
    <div class="preview-box">
      <section class="preview-box__container">
        <i class="fa-solid fa-trash-can preview-box__container--img"></i>
        <button class="preview-box__container--button">reset</button>
      </section>
      <section class="preview-box__containerphoto">
        <section class="containercard">
          <article class="containercard__box">
            <div class="rectangle"></div>
            <div class="container-tex">
              <h2 class="container-tex__title">Nombre apellido</h2>
              <p class="container-tex__paragraph">Front-end developer</p>
            </div>
          </article>
          <img class="preview-box__containerphoto--img" src="./assets/images/imagen-chica.png" alt="inagen de una chica"
            title="imagen de una chica" />
          <ul class="preview-list">
            <li class="preview-list__item">
              <a class="preview-list__item--link" href=""><i class="fa-solid fa-mobile-screen-button"></i></a>
            </li>
            <li class="preview-list__item">
              <a class="preview-list__item--link" href=""><i class="fa-regular fa-envelope"></i></a>
            </li>
            <li class="preview-list__item">
              <a class="preview-list__item--link" href=""><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li class="preview-list__item">
              <a class="preview-list__item--link" href=""><i class="fa-brands fa-github-alt"></i></a>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </section>

  <section class="section-colours">
    <form action="">
      <include src="./desings.html"></include>
      <include src="./fill_in.html"></include>
      <include src="./share.html"></include>
    </form>
    <article>
      <h2>La tarjeta ha sido creada:</h2>
      <a href="https://awesome-profile-card.com?id=A456DF0001"></a>
      <div>
        <i class="fa-brands fa-twitter"></i>
        <button>Compartir en twitter</button>
      </div>
    </article>
  </section>
</section>