<fieldset class="share__fieldset">
  <i class="fa-solid fa-chevron-down"></i>
  <a href="http://"><i class="fa-solid fa-share-nodes"></i></a>
  <legend>Comparte</legend>
  <div>
    <i class="fa-solid fa-address-card"></i>
    <button>crear tarjeta</button>
  </div>
  <article class="share__article">
    <h2 class="share__title">La tarjeta ha sido creada:</h2>
    <a class="share__link" href="https://awesome-profile-card.com?id=A456DF0001"
      >https://awesome-profile-card.com?id=A456DF0001</a
    >
    <div class="share__twitter">
      <i class="fa-brands fa-twitter"></i>
      <a>Compartir en twitter</a>
    </div>
  </article>
</fieldset>
