* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__img {
    width: 201px;
    height: 50px;
    margin-top: 31px;
    margin-bottom: 30px; }

.main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 60px; }
  .main__img {
    width: 250px;
    height: 63px; }
    @media all and (min-width: 768px) {
      .main__img {
        width: 419px;
        height: 105px; } }
  .main__button {
    width: 129px;
    height: 42px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 21px;
    background-color: #438792;
    color: #fff;
    text-decoration: none; }
    @media all and (min-width: 768px) {
      .main__button {
        margin-top: 186px; } }

.hero {
  text-align: center; }
  .hero__title {
    color: #e17334;
    font-family: "Merriweather", serif;
    font-weight: 900; }
  .hero__text {
    color: #114e4e;
    width: 264.8px;
    height: 38.4px; }
    @media all and (min-width: 768px) {
      .hero__text {
        width: 331px;
        height: 48px; } }

.nav__container {
  width: 268px;
  height: 73.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  border-radius: 4px;
  border: solid 1.6px #e17334; }
  @media all and (min-width: 768px) {
    .nav__container {
      width: 325px;
      height: 86px;
      gap: 30px; } }

.nav__title {
  font-size: 12.8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #54585a;
  text-align: center; }
  @media all and (min-width: 768px) {
    .nav__title {
      font-size: 16px; } }

.nav__list {
  list-style: none; }

.nav__link {
  color: #e17334;
  width: 25px;
  height: 26px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px; }
  .footer__text {
    font-size: 14px;
    color: #6b6b6b;
    font-family: "Open Sans", sans-serif; }
  .footer__img {
    width: 103px;
    height: 40px;
    margin-top: 12px; }

.section1 {
  padding: 38px 0 40px 0;
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed); }
  .section1__container {
    border: solid 1px #fff;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
    .section1__container--img {
      width: 20px; }
    .section1__container--button {
      background-color: transparent;
      border: none;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: #54585a;
      padding-top: 20px;
      padding-left: 8px; }
  .section1 .containerdiv {
    padding: 0 19%; }
  .section1 .section1__containerphoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section1 .section1__containerphoto--article {
      width: 240px;
      height: 329px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
      background-color: #fff; }
    .section1 .section1__containerphoto--img {
      padding: 10px 0; }

.containercard {
  display: flex;
  padding-top: 21px; }
  .containercard__rectangle {
    width: 5px;
    height: 42px;
    background-color: #438792; }
  .containercard__article--title {
    font-family: "Montserrat", sans-serif;
    color: #114e4e;
    font-size: 18px;
    padding-left: 20px; }
  .containercard__article--text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #54585a;
    padding-left: 20px; }

.list {
  list-style: none;
  margin-left: 20px;
  display: flex; }
  .list__item {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: solid 2px #a2deaf;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; }
    .list__item--link {
      color: #114e4e;
      text-decoration: none; }

/*ROSA*/
.section-colours {
  background-color: #d8d8d8; }

.container-design {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin: 0px 20px 0px 20px; }

.window {
  margin-right: 10px;
  margin-bottom: 25px; }

.arrow {
  margin-bottom: 11px; }

.design-title {
  margin-right: 168px;
  text-transform: uppercase;
  font-size: 18px; }

.colours-title {
  margin: 22px 82px 0px 19px;
  text-transform: uppercase;
  font-size: 14px; }

.colour-section {
  display: flex;
  flex-direction: row; }

.colours-title {
  margin: 0px 82px 0px 19px; }

#colours {
  margin: 4px 10px 4px 0px; }

.list-colours {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px 25px 0px 0px; }

.square {
  width: 30px;
  height: 25px; }

#one-a {
  background-color: #114e4e; }

#one-b {
  background-color: #438792; }

#one-c {
  background-color: #a2deaf; }

#colours2 {
  margin: 24px 10px 0px 183px; }

#two-a {
  background-color: #420101; }

#two-b {
  background-color: #bd1010; }

#two-c {
  background-color: #e95626; }

#colours3 {
  margin: 24px 10px 0px 183px; }

#three-a {
  background-color: #3e5b65; }

#three-b {
  background-color: #eab052; }

#three-c {
  background-color: #a0c0cf; }

/*# sourceMappingURL=main.css.map */
