.fieldset-colours {
  background: linear-gradient(to bottom, #f5f5f5, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding: 8% 8% 8% 8%;
  border: none;
}

.container-design {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.window-title {
  display: flex;
}

.window {
  margin-right: 10px;
  margin-bottom: 25px;
  color: #e17334;
  font-size: 18px;
  font-weight: normal;
}

.design-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.arrow {
  margin-bottom: 11px;
}

.colour-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.colours-title {
  width: 62px;
  height: 19px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: normal;
  margin-left: 19px;
}

.palette-section {
  display: flex;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 17px;
  height: 17px;
  margin: 10px 10px 24px 0px;
}

.palette {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-1 {
  display: flex;
  list-style: none;
}

.colour-1a {
  width: 30px;
  height: 25px;
  margin-bottom: 20px;
  background: #114e4e;
}

.colour-1b {
  background: #438792;
}

.colour-1c {
  background: #a2deaf;
}

.list-2 {
  display: flex;
  list-style: none;
}

.colour-2a {
  width: 30px;
  height: 25px;
  margin-bottom: 20px;
  background: #420101;
}

.colour-2b {
  background: #bd1010;
}

.colour-2c {
  background: #e95626;
}

.list-3 {
  display: flex;
  list-style: none;
}

.colour-3a {
  width: 30px;
  height: 25px;
  margin-bottom: 20px;
  background: #3e5b65;
}

.colour-3b {
  background: #eab052;
}

.colour-3c {
  background: #a0c0cf;
}
