.section-colours {
  background-color: linear-gradient(to bottom, $white-four, $white-two 9%);
  @include tablet() {
    width: 50vw;
  }
}
.container-design {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin: 0px 20px 0px 20px;
}

.window {
  margin-right: 10px;
  margin-bottom: 25px;
}

.arrow {
  margin-bottom: 11px;
}

.design-title {
  margin-right: 168px;
  text-transform: uppercase;
  font-size: 18px;
}

.colours-title {
  margin: 22px 82px 0px 19px;
  text-transform: uppercase;
  font-size: 14px;
}

.colour-section {
  display: flex;
  flex-direction: row;
}

.colours-title {
  margin: 0px 82px 0px 19px;
}

#colours {
  margin: 4px 10px 4px 0px;
}

.list-colours {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px 25px 0px 0px;
}

.square {
  width: 30px;
  height: 25px;
}

#one-a {
  background-color: #114e4e;
}

#one-b {
  background-color: #438792;
}

#one-c {
  background-color: #a2deaf;
}

#colours2 {
  margin: 24px 10px 0px 183px;
}

#two-a {
  background-color: #420101;
}

#two-b {
  background-color: #bd1010;
}

#two-c {
  background-color: #e95626;
}

#colours3 {
  margin: 24px 10px 0px 183px;
}
#three-a {
  background-color: #3e5b65;
}

#three-b {
  background-color: #eab052;
}

#three-c {
  background-color: #a0c0cf;
}
