.fieldset-colours {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  // padding: 8% 8% 8% 8%;
  // padding: 30px 30px 0 40px;
  padding: 20px 20px 30px 20px;
  border: none;

  @include tablet() {
    align-items: flex-start;
  }
}

.container-design {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include tablet() {
    max-width: 329px;
  }
}

.window-title {
  display: flex;
}

.window {
  margin-right: 10px;
  margin-bottom: 25px;
  color: #e17334;
  font-size: 18px;
  font-weight: normal;
}

.design-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: red;
}

.arrow {
  margin-bottom: 11px;
}

.colour-section {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include tablet() {
    max-width: 329px;
  }
}
.colours-title {
  width: 62px;
  height: 19px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: normal;
}

.palette-section {
  display: flex;
  gap: 5px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.input__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 4px;
}
.inputs {
  width: 15px;
  height: 15px;
}

.colours-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-1,
.list-2,
.list-3 {
  display: flex;
  list-style: none;
}

.colour-1a,
.colour-1b,
.colour-1c,
.colour-2a,
.colour-2b,
.colour-2c,
.colour-3a,
.colour-3b,
.colour-3c {
  width: 30px;
  height: 25px;
}
.colour-1a {
  background: #114e4e;
}

.colour-1b {
  background: #438792;
}

.colour-1c {
  background: #a2deaf;
}

.colour-2a {
  background: #420101;
}

.colour-2b {
  background: #bd1010;
}

.colour-2c {
  background: #e95626;
}

.colour-3a {
  background: #3e5b65;
}

.colour-3b {
  background: #eab052;
}

.colour-3c {
  background: #a0c0cf;
}
