.fill {
  &__fieldset {
    background-color: $white-two;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    border: none;

    @include tablet() {
      padding: 0 30px 0 40px;
      max-width: 329px;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    height: fit-content;
    border-top: 1px solid #6b6b6b58;
    align-items: center;
    justify-content: space-between;

    // @include tablet() {
    //   max-width: 329px;
    // }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet() {
      padding-bottom: 25px;
    }
  }

  &__keyboard {
    color: $dull-orange;
  }

  &__arrow {
  }

  &__legend {
    margin: 10px 10px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    color: $gunmetal;
    width: 89%;
    text-align: left;
  }
}

.fill__title:hover {
  cursor: pointer;
}

//anidación para JS

// .collapsed {

//   .fill__container {
//     display: none;
//   }

// }

.collapsed {
  display: none;
}

.form {
  &__label {
    font-family: 'Open Sans';
    font-size: 14px;
    color: $dark-green-blue;
    line-height: 1.43;
    margin: 0 0 7px;
  }

  &__field {
    margin: 0 0 15px 0;
    padding: 0 0 0 15px;
    max-width: 329px;
    height: 30px;
    border: solid 1px $hospital-green;

    &--button {
      margin: 0 0 15px 0;
    }
  }

  &__img {
    display: flex;
    flex-direction: column;
  }

  &__box {
    width: 30px;
    height: 30px;

    border: solid 1px $hospital-green;
    margin: 0 0 15px 20px;
  }
}

input::placeholder,
textarea::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  color: $brownish-grey;
  opacity: 0.7;
}

.subir {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: $white-two;
  text-align: center;

  width: 140px;
  height: 30px;
  margin: 0 0 15px 0;
  padding: 3px 22px 7px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  background-color: $dull-orange;
}

.span__row {
  display: flex;
  flex-direction: row;
}
