.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
  &__text {
    font-size: 14px;
    color: $brownish-grey;
    font-family: $font-main;
  }
  &__img {
    width: 103px;
    height: 40px;
    margin-top: 12px;
  }
}
