.section1 {
  padding: 38px 0 40px 0;
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  &__container {
    border: solid 1px $white-two;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &--img {
      width: 20px;
    }
    &--button {
      background-color: transparent;
      border: none;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 12px;
      font-family: $font-main;
      color: $gunmetal;
      padding-top: 20px;
      padding-left: 8px;
    }
  }
  .containerdiv {
    padding: 0 19%;
  }
  .section1__containerphoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--article {
      width: 240px;
      height: 329px;
      background-color: $white-two;
      border-radius: 2px;
      box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
      background-color: $white-two;
    }
    &--img {
      padding: 10px 0;
    }
  }
}

.containercard {
  display: flex;
  padding-top: 21px;
  &__rectangle {
    width: 5px;
    height: 42px;
    background-color: $dirty-blue;
  }
  &__article {
    &--title {
      font-family: $font-third;
      color: $dark-green-blue;
      font-size: 18px;
      padding-left: 20px;
    }
    &--text {
      font-family: $font-third;
      font-size: 16px;
      color: $gunmetal;
      padding-left: 20px;
    }
  }
}
.list {
  list-style: none;
  margin-left: 20px;
  display: flex;

  &__item {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: solid 2px $hospital-green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    &--link {
      color: $dark-green-blue;
      text-decoration: none;
    }
  }
}
