.share {
  &__fieldset {
    background-color: $white-two;
    padding: 3%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: auto;
    border-top: 1px solid #6b6b6b58;
    max-width: 329px;
    align-items: center;
    justify-content: space-between;
  }
}
    border-color: transparent;
    background-color: $white-two;
    padding: 3%;
  }
}
.share__article {
  font-family: $font-main;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.share__title {
  font-size: 18px;
  color: $gunmetal;
  margin-bottom: 5px;
}
.share__link {
  font-size: 12px;
  color: $dull-orange;
  margin-bottom: 10px;
}
.share__twitter {
  font-size: 14px;
  width: 181px;
  height: 30px;
  padding: 3px 9px 6px 10.5px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  background-color: $azure;
  text-align: center;
  color: $white-two;
}
